@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Raleway');

#noClickAccordion {
  cursor: default;
}

#ageInputField {
  width: 197.64px;
  margin-bottom: 14px;
}

.appHeader {
  font-family: 'Lora', serif;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 2px black;
  text-shadow: 2px 2px 4px #000000;
}

.container {
  width: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
  background: transparent;
}

.generatorFormContainer {
  background-color: rgba(220,220,220,0.6);
  height: 499px;
  border-radius: .28571429rem;
}


.fieldContainer {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.classImage {
  display: grid;
  justify-items: center;
  justify-content: center;
  background-color: rgba(220,220,220,0.6);
  border-radius: .28571429rem;
  width: 100%;
  height: 250px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.randomRoll {
    display: grid;
    grid-template-columns: 50px 126px;
    grid-column-gap: 5px;
    align-items: center;
    justify-items: center;
    padding-bottom: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-image: url("/src/app/backgroundImages/bg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.ui.inverted.segment.segmentBottomMargin {
  margin-bottom: 20px;
}

div.classImage p b {
  line-height: 1.5;
  font-size: 1.35rem;
  font-family: 'Lato', sans-serif;
}
