@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Raleway');

#noClickAccordion {
  cursor: default;
}

#ageInputField {
  width: 197.64px;
  margin-bottom: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-image: url("/src/app/backgroundImages/bg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.appHeader {
  font-family: 'Lora', serif;
}

.container {
  width: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
  background: transparent;
}

.generatorFormContainer {
  background-color: rgba(220,220,220,0.6);
  height: 499px;
  border-radius: .28571429rem;
}


.fieldContainer {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.classImage {
  width: 100%;
  height: 100%;
}

.randomRoll {
    display: grid;
    grid-template-columns: 50px 126px;
    grid-column-gap: 5px;
    align-items: center;
    justify-items: center;
    padding-bottom: 15px;
}
